div.stickyexample{
    position: sticky;
    padding: 5px;
    background-color: aqua;
    font-size: 50px;
    top: 30px;

}
body{
    margin: 0;
}

h1,div.container{
    margin: 15px;
}